.tabs {
  padding: 40px 1rem 0;
}

.content-wrapper {
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.card-wrapper {
  margin: 1rem;
}

.card-title h2 {
  font-size: .9rem;
}

.chip-date {
  background-color: #90CAF9;
  color: #000000;
}
